{% extends "base_generic.html" %}


{% load i18n %}
{% load static %}


{% block style %}
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" media="screen, print">
{% endblock %}


{% block head %}
{% endblock %}


{% block title %}
Project Tracker
{% endblock %}


{% block brand %}
<strong><a class="navbar-brand" href="/">Project Tracker</a></strong>
{% endblock %}


{% block links %}
{% endblock %}


{% block footer %}
{% endblock %}


{% block javascript %}
{% endblock %}
