<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project tracker</title>
    <script type="text/javascript" src="{% static "lib/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-3.3.7.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/patternfly.min.js" %}"></script>
    <link href="{% static "css/patternfly.css" %}" rel="stylesheet" media="screen, print">
    <link href="{% static "css/patternfly-additions.css" %}" rel="stylesheet" media="screen, print">
</head>
<body>
    <h1><a href="/g/">List of Project Groups is Here</a> </h1>
</body>
</html>