{% extends "base.html" %}
{% load i18n %}


{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>

<h1 class="page-header">{% trans "Project Groups" %}</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th style="width: 8em;">Short</th>
      <th>Name</th>
      <th style="width: 8em;">Owner</th>
    </tr>
  </thead>
{% include "projectgroup_list_include.html" %}
</table>

<form action="" method="get">
    <button type="submit" class="btn btn-primary btn-lg" value="csv" name="format">Export to csv</button>
 </form>

{% endblock %}
